#content {
    padding: 25px;
    font-size: 35px;
    margin-top: 170px;
}

#entrance_background {
    background: url(express_entrance_background.jpg);
    background-repeat: no-repeat;
    width: 1080px;
    height: 1675px;
}

#courier_entrance {
    background: url(courier_entrance.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 648px;
    /* TODO */
    left: 450px;
    text-align:center;
    width: 261px;
    height: 261px;
}

#receiver_entrance {
    background: url(receiver_entrance.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 1500px;
    /* TODO */
    left: 450px;
    text-align:center;
    width: 261px;
    height: 261px;
}

