<!DOCTYPE HTML>
<html>
  <head>
    <title>
      测试页
    </title>
    <meta charset="utf-8">
    <script src="http://www.hubwiz.com/scripts/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="" ng-controller="MyController">
      Your name:
      <input type="text" ng-model="username">
      <button ng-click="sayHello()">打招呼</button>
      <hr/>
      {{greeting}}
    </div>

    <script>
      function MyController($scope) {
        $scope.username = 'World';
        $scope.sayHello = function() {
          $scope.greeting = 'Hello ' + $scope.username + '!';
        };
      }
    </script>
  </body>
</html>
